body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #c48bd6;
	font-family:Brush Script Std;
	font-color:#380847;

}

header,
main{
	background-color: #ddd;
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
	font-family:Brush Script Std;
	font-color:#380847;
	
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}



p {
	padding: 1.25em;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}


img {
	width: 100%;
	max-width: 100%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}